<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/fonts/Quicksand-Regular.eot")
        link(rel="stylesheet", href="assets/fonts/Quicksand-Regular.otf")
        link(rel="stylesheet", href="assets/fonts/Quicksand-Regular.svg")
        link(rel="stylesheet", href="assets/fonts/Quicksand-Regular.ttf")
        link(rel="stylesheet", href="assets/fonts/Quicksand-Regular.woff")
        title Hotel
        include ../includes/modules/header

    body
        section.container
            .wrapper
                ul.color
                    li.color_1 <span><b> Dark Shade 100% </b><br>#1F2041</span> 
                    li.color_2 <span><b>Dark Shade 75%</b><br>#1F2041</span> 
                    li.color_3 <span><b>Dark Shade 50%</b><br>#1F2041</span> 
                    li.color_4 <span><b>Dark Shade 25%</b><br>#1F2041</span> 
                    li.color_5 <span><b>Dark Shade 5%</b><br>#1F2041</span> 
                    li.color_6 <span><b>Purple</b><br>#BC9CFF</span>
                    li.color_7 <span><b>Green</b><br>#6FCF97</span>
                ul.type
                    li.element_1 <b> This one is the sub-section or widget title
                    li.element_2 Next one is the item title inside widgets
                    li.element_3 This is a label or CTA text </b>
                    li.element_4 This is the body text which is used for most of the design, like paragraphs, lists, etc.