.datepicker
    box-sizing: border-box
    width: 320px
    height: 369px
    background: #FFFFFF
    border: 1px solid rgba(31, 32, 65, 0.25)
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
    border-radius: 4px
    position: absolute
    font-weight: bold
    // margin-left: 100px
.datepickers-container
    width: 320px
    height: 369px
.datepicker--nav-title
    font-family: Quicksand, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 19px
    color: #1F2041
    i
        font-family: Quicksand, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 19px
        color: #1F2041
#prev
    transform: rotate(180deg)
.datepicker--day-name
    width: 40px
    height: 40px
    font-family: Montserrat, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 12px
    color: #BC9CFF
.datepicker--cell
    font-family: Montserrat, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 12px
    color: rgba(31, 32, 65, 0.5)
    width: 40px
    height: 40px
.datepicker--cell.datepicker--cell-day.-selected-
    width: 40px
    height: 40px
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border-radius: 22px
.datepicker--nav
    border-bottom: none
    margin-bottom: 20px
    margin-top: 20px
    padding: 0
    margin-left: 20px
    margin-right: 20px
.datepicker--days-names
    margin: 0
    width: 280px
    display: flex
    justify-content: center

.datepicker--cell.datepicker--cell-day.-focus-
    width: 40px
    height: 40px
    border-radius: 100%
    color: #ffffff
.datepicker--cell.datepicker--cell-day.-in-range-
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    opacity: 0.25
    color: rgba(31, 32, 65,1)
.datepicker--cell.datepicker--cell-day.-range-from-
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius: 100%
    z-index: 1
    position: relative
.datepicker--cell.datepicker--cell-day.-range-from-::after
    position: absolute
    right: 0
    content: ''
    width: 20px
    height: 40px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    color: rgba(31, 32, 65, 0.5)
    opacity: 0.25
    z-index: -1
.datepicker--cell.datepicker--cell-day.-range-to-
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 
    border-radius: 100%
    position: relative
.datepicker--cell.datepicker--cell-day.-range-to-::before
    position: absolute
    left: 0
    content: ''
    width: 20px
    height: 40px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    color: rgba(31, 32, 65, 0.5)
    opacity: 0.25
    z-index: -1 
.datepicker--days.datepicker--body.active
    margin-left: 15px
.back_element
    width: 100px
    height: 100px
    background-color: red

.datepicker--cell.datepicker--cell-day.-in-range-.-focus-
    width: 40px
    height: 40px
    border-radius: 0

.datepicker--cell.datepicker--cell-day.-current-
    color: #ffffff
    width: 40px
    height: 40px
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border-radius: 22px
.datepicker
    position: relative
    .calendar__btn
        box-sizing: border-box
        width: 320px
        display: flex
        justify-content: space-between
        position: absolute
        bottom: 0
        padding: 0 20px 20px 20px
        .calendar__clear
            font-family: Montserrat, sans-serif
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 15px
            text-transform: uppercase
            color: rgba(31, 32, 65, 0.5)
            cursor: pointer
        .calendar__apply
            font-family: Montserrat, sans-serif
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 15px
            text-transform: uppercase
            color: #BC9CFF
            cursor: pointer
.datepicker--cell.datepicker--cell-day.-range-from-.-range-to-.-selected-
    width: 40px
    height: 40px
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border-radius: 100%



i.datepicker--pointer
    width: 0
    height: 0


.datepicker--cell.datepicker--cell-day.-range-to-
    border: none
    color: #ffffff
.datepicker--cell.datepicker--cell-day.-range-from-
    border: none
    color: #ffffff
