<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        block header
            include header
            +header("О нас","Услуги","Вакансии","Новости","Соглашения", "Войти" ,"Зарегистрироваться")
        .container
            block content
            
        block footer
            include footer_1
            +footer_1('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»','навигация','О нас','Новости','Служба поддержки','Услуги','о нас','О сервисе','Наша команда','Вакансии','Инвесторы','Служба поддержки','Соглашения','Сообщества','Связь с нами','Подписка','Получайте специальные предложения и новости сервиса','Email','Copyright © 2018 Toxin отель. Все права зачищены.')