.wrapper_card
//- .card
//-     .card__photo
//-         img(src="assets/img/card.png", alt="card")
//-         img(src="", alt="")
//-         img(src="", alt="")
//-         img(src="", alt="")
//-     .card__inf
//-         .number № <span id="num">888</span> <span id="prem">люкс</span>
//-         .price 9 990₽ <span id="day">в сутки</span>
//-     .card__hr
//-     .card__reviews
//-         .wrapper_star
//-             +star
//-             +star
//-             +star
//-             +star
//-             +star
//-         .descr <b>65</b> Отзывов
            
