.entry
    .entry__title Войти
    .entry__email
        +text_field('Email')
    .entry__password
        +text_field('Пароль')
    .entry__payment
        +payment('Войти')
    .entry__create Нет аккаунта на Toxin?
        +clickme_border('Создать')