mixin find_number
    .find_number
        .find_number__title Найдём номера под ваши пожелания
        .find_number__time
            .arrival
                .subtitle прибытие
                .calendar
                    +date_dropdown('date_1')
            .leave
                .subtitle выезд
                .calendar 
                    +date_dropdown('date_2')
        .find_number__guests
            .subtitle гости
            .dropdown
                +dropdown_guests
        .find_number__btn
            +payment('Подобрать номер')
