.wrapper_footer_2
    .descr_logo
        .logo_img
            img(src="assets/img/logo_color.svg", alt="logo")
        .logo_text
            img(src="assets/img/TOXIN.svg", alt="toxin")
    .descr_text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .icon
        img(src="assets/img/twitter.svg", alt="twitter")
        img(src="assets/img/facebook.svg", alt="facebook")
        img(src="assets/img/insta.svg", alt="insta")