.wrapper_footer_1
    .descr
        .descr__logo
            .logo_img
                img(src="assets/img/logo_color.svg", alt="logo")
            .logo_text
                img(src="assets/img/TOXIN.svg", alt="toxin")
        .descr__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .nav
        ol
            li(id="bold") Navigation
            li About Us
            li News
            li Support
            li Products
    .about
        ol
            li(id="bold") ABOUT US
            li Who we are
            li Our team
            li Careers
            li Investors
    .support
        ol
            li(id="bold") Support
            li Documentation
            li Community
            li Get in Touch
    .subscr
        ol
            li(id="bold") Subscribe to our newsletter
            li(id="rec_news") Receive our latest news and promotions in your inbox!
            li
                +subcrition_text_field('Your email address')
.hr
.footer
    .text Copyright © 2018 Toxin UI Kit. All rights reserved.
    .icon
        img(src="assets/img/twitter.svg", alt="twitter")
        img(src="assets/img/facebook.svg", alt="facebook")
        img(src="assets/img/insta.svg", alt="insta")


