.container
    +header("О нас","Услуги","Вакансии","Новости","Соглашения", "Войти" ,"Зарегистрироваться")
.container_none
    .wrapper_photo_room
        .img_left
            img(src="assets/img/main.png", alt="main")
        .img_right
            img(src="assets/img/num1.png", alt="num1")
            img(src="assets/img/num2.png", alt="num2" id="botm")
.container
    .wrapper_details
        .details
            .section_1
                .details__inf
                    .title Сведения о номере 
                    +infAboutNumber('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
                    +infAboutNumber('Удобство', 'Окно в каждой из спален', 'location_city')
                    +infAboutNumber('Уют', 'Номер оснащён камином', 'whatshot')
                .details__imp
                    .title Впечатления от номера
                    .wrapper_imp
                        .circle
                            img(src="assets/img/circle_1.svg", alt="circle_1" id="circle_1")
                            img(src="assets/img/circle_3.svg", alt="circle_3" id="circle_3")
                            img(src="assets/img/circle_2.svg", alt="circle_2" id="circle_2")
                            .text 260
                                span голосов
                        .list
                            un
                                li(id="f") Великолепно
                                li(id="s") Хорошо
                                li(id="t") Удовлетворительно
                                li(id="four") Хуёво
            .section_2
                .details__rev
                    .title Отзывы посетителей номера
                    +review('Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.','murad')
                    +review('Патрисия Стёклышкова','Неделю назад','Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', 'patricia')
            .section_3
                .details__rule
                    +bullet_list('Правила','Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00,','а выезд до 12:00')
                .details__cancel
                    .title Отмена
                    .text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .card_book
            +toBook
        
+footer_1('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»','навигация','О нас','Новости','Служба поддержки','Услуги','о нас','О сервисе','Наша команда','Вакансии','Инвесторы','Служба поддержки','Соглашения','Сообщества','Связь с нами','Подписка','Получайте специальные предложения и новости сервиса','Email','Copyright © 2018 Toxin отель. Все права зачищены.')