extends base.pug
block content
    .search
        .search__inf
            +filter_date_dropdown('даты пребывания в отеле')
            +dropdown_guests('Гости')
            .slider
                include modules/slider
                .slider__text Стоимость за сутки пребывания в номере
            .checkboxs
                .title Checkbox Buttons
                +checkbox('Можно курить')
                +checkbox('Можно с питомцами')
                +checkbox('Можно пригласить гостей (до 10 человек)')
            .avail
                .title доступность
                +rich_checkbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
                +rich_checkbox('Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.')
            .inf_number
                +dropdown_room('Удобства номера')
            .more_inf
                +exp_checkbox('Дополнительные удобства', 'true')
        .search__result
            .title Номера, которые мы для вас подобрали
            .row_1
            .row_2
            .row_3
            .row_4
            .search__pagination
                +pagination
            .descr_pagination 1 – 12 из 100+ вариантов аренды