+header("О нас","Услуги","Вакансии","Новости","Соглашения", "Войти" ,"Зарегистрироваться")
.container_none
    .background
        .fu
            img(src="assets/img/registration.png", alt="registration" class="back_img")
            .card_regist
                +sign_in
+footer_1('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»','навигация','О нас','Новости','Служба поддержки','Услуги','о нас','О сервисе','Наша команда','Вакансии','Инвесторы','Служба поддержки','Соглашения','Сообщества','Связь с нами','Подписка','Получайте специальные предложения и новости сервиса','Email','Copyright © 2018 Toxin отель. Все права зачищены.')