mixin btn_checkbox(value)
    .btn_checkbox= value
    .select_btn_checkbox
        +checkbox('Завтрак')
        +checkbox('Письменный стол')
        +checkbox('Можно пригласить гостей (до 10 человек)')