mixin date_dropdown
	form
		label
			.wrapper(class="wrapper_short")
				.wrapper__img
					img(src="assets/img/expand_more.svg",  alt="expand_more")
				input(type='text' class='datepicker-here  input input_short input_margin input_opc' placeholder="ДД.ММ.ГГГГ")