mixin date_dropdown(date_dropdown_id)
	form
		label
			.wrapper(class="wrapper_short")
				.wrapper__img
					img(src="assets/img/expand_more.svg",  alt="expand_more")
				input(type='text' id= date_dropdown_id class = "input cal" placeholder="ДД.ММ.ГГГГ")
				//- input()