form(class='person')
    label Dropdown   
        .wrapper(class="first")
            .wrapper__arrow
                img(src="assets/img/expand_more.svg", alt="arrows")
            .wrapper__text Сколько гостей?
        .big_wrapper(class='big_wrapper_person')
            +select('Взрослые')
            +select('Дети')
            +select('Младенцы')
            .button
                .clear Очистить
                .apply Применить