mixin dropdown_1(value)
    form(class="dropdown")
        label= value
            .wrapper(class="first")
                .wrapper__arrow
                    img(src="assets/img/expand_more.svg", alt="arrows")
                .wrapper__text Спальни, Кровати, Ванные комнаты 
            .big_wrapper 
                +select('Спальни')
                +select('Кровати')
                +select('Ванные комнаты')