mixin dropdown_1(value)
    .dropdown
        .dropdown__title= value
            .dropdown__wrapper
                .dropdown__arrow
                    img(src="assets/img/expand_more.svg", alt="arrows")
                .dropdown__text Спальни, Кровати, Ванные комнаты 
            .dropdown__select 
                +select('Спальни')
                +select('Кровати')
                +select('Ванные комнаты')