form
	label Filter Date Dropdown
		.wrapper
			input(type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here input filter input_margin input_opc" placeholder="D.M. - D.M. " data-date-format="dd M")