label
    .wrapper_like
        .wrapper_like__btn
            .like_around
                .like_heart 
                    img(src="assets/img/favorite.svg", alt="heart" class="heart heart_mod")
                    img(src="assets/img/favorite_border.svg", alt="heart_border" class="heart_border")
                    .like_number 0