.pagination_wrapper
    .head pagination
    .list
        .circle(class="circle_mod") 1
        .circle 2
        .circle 3
        .dot ...
        .circle 15
        .arrNext
            img(src="assets/img/arrow_forward.svg", alt="arrow")