label Radio Buttons
    .wrapper_radio
        .wrapper_radio__btn
            .radio_around
                .radio_circle
            .radio_text Мужчина
        .wrapper_radio__btn
            .radio_around
                .radio_circle
            .radio_text Женщина
