label rate button
    .wrapper_rate
        mixin star
            .star_wrapper
                img(src="assets/img/star.svg", alt="star" class="star")
                img(src="assets/img/star_border.svg", alt="star" class="star_border")
        +star
        +star
        +star
        +star
        +star