mixin rich_checkbox(bold_text, text)
    .wrapper_checkbox
        .wrapper_checkbox__checkbox
            .cont
                img(src="assets/img/Vector.svg", alt="vector" class="vector")
            .text
                span= bold_text
                .rich_checkbox= text