//- include ../includes/modules/header
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .container
            //- include ../includes/modules/rate_btn
            //- include ../includes/modules/dropdown_1
            //- include ../includes/modules/dropdown_2
            //- include ../includes/modules/input
            //- include ../includes/modules/like_btn
            //- include ../includes/modules/toggle
            //- include ../includes/modules/radio_btn
            //- include ../includes/modules/checkbox
            //- include ../includes/modules/slider
            //- include ../includes/modules/button_1
            //- include ../includes/modules/button_2
            //- include ../includes/modules/payment
            include ../includes/modules/pagination