//- include ../includes/modules/header
//- include ../includes/modules/date_dropdown
//- include ../includes/modules/dropdown_guests
//- include ../includes/modules/payment
//- include ../includes/modules/text_field
//- include ../includes/modules/masked_text_field
//- include ../includes/modules/toggle
//- include ../includes/modules/clickme_border
//- include ../includes/card
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .container
            include ../includes/calendar