mixin filter_date_dropdown(value)
	form
		label= value
			.wrapper
				.wrapper__img
					img(src="assets/img/expand_more.svg",  alt="expand_more")
				input(type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here input filter input_margin input_opc" placeholder="D.M. - D.M. " data-date-format="dd M")