mixin pagination
    .pagination_wrapper
        .start
            .list
                .list__arrBack
                        img(src="assets/img/arrow_forward_white.svg", alt="arrow")
                .list__circle(id = 'circle_start') 1
                .list__dot ...
                
        .main
            .list
                .list__circle(id = 'circle_first' class="list__circle-mod") 1
                .list__circle(id = 'circle_second') 2
                .list__circle(id = 'circle_third') 3
        .finish
            .list
                .list__dot ...
                .list__circle(id = 'circle_finish') 15
                .list__arrNext
                    img(src="assets/img/arrow_forward_white.svg", alt="arrow")