mixin rich_checkbox(bold_text, text)
    .checkbox
        .checkbox__cont
            img(src="assets/img/Vector.svg", alt="vector" class="vector")
        .checkbox__text
            span= bold_text
            .rich_checkbox= text