.container
    +header("О нас","Услуги","Вакансии","Новости","Соглашения", "Войти" ,"Зарегистрироваться")
.wrapper_main_pages
    img(src="assets/img/main_pages.png", alt="main_pages" class="main_img")
    .wrapper_calendar
        +find_number
+footer_1('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»','навигация','О нас','Новости','Служба поддержки','Услуги','о нас','О сервисе','Наша команда','Вакансии','Инвесторы','Служба поддержки','Соглашения','Сообщества','Связь с нами','Подписка','Получайте специальные предложения и новости сервиса','Email','Copyright © 2018 Toxin отель. Все права зачищены.')