.wrapper_checkbox
    min-width: 90px
    margin-bottom: 10px
    &__checkbox
        display: flex
        justify-content: flex-start
        .cont
            background: #FFFFFF
            border: 1px solid rgba(31, 32, 65, 0.25)
            box-sizing: border-box
            border-radius: 4px
            margin: 0 10px 0 0
            display: flex
            justify-content: center
            align-items: center
            min-width: 20px
            height: 20px
            &_mod
                border-color: #BC9CFF
            .vector
                display: none
        .text
            font-size: 14px
            line-height: 18px
            color: rgba(31, 32, 65, 0.5)
            font-style: normal
            font-weight: normal
            text-transform: none
            .rich_checkbox
                font-size: 12px
                line-height: 14px
            span
                font-weight: bold
                display: block
                color: rgba(31, 32, 65, 0.75)
                margin-bottom: 5px